# ---- Java
*.class
*.log
hs_err_pid*
replay_pid*

# ---- OS
.DS_Store
Thumbs.db

# ---- NetBeans / Ant (somente gerados)
build/
dist/
nbbuild/
nbdist/

# Gerados pelo NetBeans (não versionar)
nbproject/

# ---- IDEs
*.iml
.idea/
.vscode/

# ---- (opcional) impedir credenciais locais
#src/META-INF/persistence.xml
