# ---- Java
*.class
*.log
hs_err_pid*
replay_pid*

# ---- OS
.DS_Store
Thumbs.db

# ---- NetBeans / Ant (somente gerados)
build/
dist/
nbbuild/
nbdist/

# Gerados pelo NetBeans (não versionar)
nbproject/private/
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/jfx-impl.xml
nbproject/configs/
nbproject/private/configs/
nbproject/private/private.xml
nbproject/private/retriever/

# ---- IDEs
*.iml
.idea/
.vscode/

# ---- (opcional) impedir credenciais locais
src/META-INF/persistence.xml
